mixin s-features
	section.section.s-features&attributes(attributes)
		.container-fluid
			.container
				.row
					.col-12
						+titles("О НАС")
					.col-12
						.s-features__video.js-s-features__video
				.row.s-features__wrap.js-s-features__wrap