mixin footer
	footer.footer&attributes(attributes)
		.container-fluid
			.container
				.row.align-middle.align-justify
					.col-12.col-md-4.col-lg-4
						.flex.align-center
							p.font © 2020 is Powered by ...
					.col-12.col-md-4.col-lg-2
						.flex.align-center.mt-20.mb-20
							+logo
					.col-12.col-md-4.col-lg-4
						.flex.align-center-middle.flex-wrap
							p.font On social networks
							+social
						.text-center
							+contact