$font-color: (
	'primary': var(--primary),
	'white':	#fff
);

$font-size: (
	'xs': 11px,
	'sm': 12px,
	'md': 16px,
	'lg': 22px
);

$font-weight: (
	'regular': 400,
	'medium': 500,
	'bold': 700
);

.font {
	color: var(--font-color);
	line-height: var(--font-line-height);
	font-size: var(--font-size);
	font-family: var(--font-main);
	font-weight: var(--font-weight);

	@each $status, $text-color in $font-color {

		&--#{$status} {
			color: $text-color;
		}
	}

	@each $status, $text-weight in $font-weight {

		&--#{$status} {
			font-weight: $text-weight;
		}
	}

	@each $status, $text-size in $font-size {

		&--#{$status} {
			font-size: $text-size;
		}
	}
}