mixin info
	.info&attributes(attributes)
		h1.h1.h1--bold.h1--white.info__title Озеро Слобода
		h6.h6.h6--medium.info__subtitle Озеро Слобода расположено в райском уголке, где Вы сможете насладиться неописуемой природной красотой и прекрасно отдохнуть.
