mixin menu
	menu.menu&attributes(attributes)
		a.font.font--medium(href="#header").menu__item Главная
		a.font.font--medium(href="#s-features").menu__item О нас
		a.font.font--medium(href="#s-photo").menu__item Фото/видео
		a.font.font--medium(href="#s-rules").menu__item Правила
		a.font.font--medium(href="#s-testimonials").menu__item Отзывы
		a.font.font--medium(href="#s-news").menu__item Что нового?
		a.font.font--medium(href="#footer").menu__item Контакты