mixin s-rules
	section.section.s-rules&attributes(attributes)
		.container-fluid
			.container
				+titles("Правила")
				.s-rules__wrap.s-rules__wrap--hidden.js-s-rules__wrap
				button.btn.btn--dark.s-rules__button.js-s-rules__button
					span.font.font--white Смотреть