.btn {
	@include flex(center,center);
	@include font;
	@include input;
	@include size(auto, 40px);

	border: 0;
	cursor: pointer;
	border-radius: 2px;
	padding: 0 20px;
	position: relative;

	&--dark {
		background-color: var(--dark);
	}

	&--white {
		background-color: #fff;
	}

	& > * {
		position: relative;
		z-index: 1;
	}

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--primary);
		z-index: 0;
		width: 0;
		transition: var(--default-transition);
		content: '';
	}

	&:hover,
	&--active {
		
		&:before {
			width: 100%;
		}
	}
}