// Style for container
$min-width: 320px;
$max-width: 1280px;


// Style for grid generate
$base-grid-padding: 	5px;
$base-grid-margin: 		5px;
$base-grid-column: 		12;


:root {
	--default-transition: all 0.3s linear;
	--base-background-color: #fff;
	--base-height: 34px;
	--base-padding-left: 100px;
}