mixin social
	.social&attributes(attributes)
		a(href="https://www.facebook.com/groups/1947944298783345/", target="_blank").social__link
			i.fab.fa-facebook-f
		a(href="mailto:tereschenko23041991@gmail.com?subject=Слобода" target="_blank").social__link
			i.fab.fa-google-plus-g