.preloader {
	@include flex(center, center);

	position: fixed;
	background-color: #fff;
	z-index: 11;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	i{
		@include size(20px);
		
		border-radius: 50%;
		background-color: var(--primary);
		display: block;
		animation: spin 2s ease infinite;

		&:before,
		&:after{
			@include size(inherit);

			display: block;
			position: absolute;
			background-color: inherit;
			border-radius: inherit;
			animation: spin 2s ease infinite;
			content: '';
		}

		&:before{
		    left: -30px;
		}

		&:after{
		    left: 30px;  
		}
	}
}

.section {
	padding: 100px 0 100px var(--base-padding-left);

	@include media-max(768) {
		padding: 50px 0
	}
}